/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  color: #0781ff;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff3c3a;
  font-weight: 300;
}
.logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 0;
}
.navbar-brand {
  height: 100px;
}
header {
  border-bottom: 5px solid #3a9bff;
  text-align: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.content-wrap {
  text-align: center;
  background-color: #ffffff;
}
footer {
  background-color: #909590;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls {
  padding: 2%;
  background: #333;
  color: #6db5ff;
}
label {
  font-weight: 300;
  margin: 0 .4em 0 0;
}
button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #6db5ff;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}
button.active {
  background: #68b8c4;
}
button:focus {
  outline: 0 none;
}
button + label {
  margin-left: 1em;
}
.containermix {
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #fff;
  -webkit-backface-visibility: hidden;
}
.containermix:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.containermix .mix,
.containermix .gap {
  display: inline-block;
  width: 49%;
}
.containermix .mix {
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.containermix .mix:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.containermix .mix.category-1 {
  border-top: 2px solid limegreen;
}
.containermix .mix.category-2 {
  border-top: 2px solid yellow;
}
.containermix .mix:after {
  content: attr(data-myorder);
  color: #6db5ff;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}
.containermix .mix:before {
  content: '';
  display: inline-block;
}
@media all and (min-width: 420px) {
  .containermix .mix,
  .containermix .gap {
    width: 32%;
  }
}
@media all and (min-width: 640px) {
  .containermix .mix,
  .containermix .gap {
    width: 23.5%;
  }
}
h1 .fancy_title span {
  display: inline-block;
}
.char1,
.char3,
.char5,
.char7,
.char9 {
  color: #ff3c3a;
  transition: all 1s ease-in;
}
.char1:hover,
.char3:hover,
.char5:hover,
.char7:hover,
.char9:hover {
  color: #ff3c3a;
  transform: rotate(90deg);
}
.char2,
.char4,
.char6,
.char8,
.char10 {
  color: #3a9bff;
  transition: all 1s ease-in;
}
.char2:hover,
.char4:hover,
.char6:hover,
.char8:hover,
.char10:hover {
  color: #3a9bff;
  transfrom: translate(10px, 20px);
}
.thumbnail img {
  width: 100%;
}
ul.navbar-nav {
  margin-top: 40px;
}
.nav.navbar-nav a {
  border-bottom: 2px solid #f8f8f8;
  font-size: 15px;
  margin: 10px 5px 0;
  padding: 0 10px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.nav.navbar-nav a:hover {
  border-bottom: 2px solid #3a9bff;
}
.navbar {
  margin-bottom: 0px;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #10c6cb));
  background: -ms-linear-gradient(bottom, #eeeeee, #10c6cb);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #10c6cb 100%);
  background: -o-linear-gradient(#10c6cb, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10c6cb', endColorstr='#eeeeee', GradientType=0);
}
.containermix .mix::after {
  content: none;
  padding: 0;
}
.thumbnail {
  padding: 5px;
  margin-bottom: 0px;
  border: 0px solid #ddd;
  border-radius: 0px;
}
.containermix .mix.category-1 {
  background: #ffffff;
  border: 2px solid #3a9bff;
}
.containermix .mix.category-2 {
  background: #ffffff;
  border: 2px solid #10dce2;
}
div.about {
  background: url(../images/about-bg.png);
  padding: 140px 0 100px;
  color: #6db5ff;
  background-attachment: fixed;
}
div.skills {
  background: url(../images/code.jpg);
  background-size: cover;
  padding: 80px 0 100px;
  color: #6db5ff;
  background-attachment: fixed;
}
div.contact {
  background: url(../images/miami.jpg);
  background-size: cover;
  padding: 80px 0 100px;
  color: #6db5ff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.skills .col-md-3 > p {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 300px;
  padding: 15px;
  text-align: justify;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input,
textarea {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #3a9bff;
  box-shadow: none;
  color: #6db5ff;
  padding: 10px !important;
  width: 100%;
  margin: 10px;
}
footer {
  padding: 30px;
  text-align: center;
  vertical-align: middle;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6 0%, #ffffff 100%);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}




section.videobg video {
   position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(https://farm9.staticflickr.com/8680/16440696468_f6f91ff3fa_o.jpg) no-repeat;
    background-size: cover; 
}

section.videobg h1 {
  font-size: 4em;
  color: white;
  left: 80px;
  position: absolute;
  top: 160px;
  z-index: 99;
}

section.videobg {
  font-size: 20px;
  line-height: 35px;
  margin: 80px;
}

section.videobg p {
  text-align: justify;
}





